@charset "UTF-8";

/* Colors */
:root {
    --light-red: #bf616a;
}

/* Animation */
@keyframes navigation_hover {
    from {
        color: black;
    }
    to {
        color: #bf616a;
    }
}

/* Main body */
body {
    padding: 0%;
    margin: 0%;
    line-height: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

/* Links */
* a {
    text-decoration: none;
}

.content a {
    color: var(--light-red);
}

.nav li a,
.link-list li a {
    color: black;
}

.nav li a:hover,
.link-list li a:hover {
    animation: navigation_hover 0.7s forwards;
}

.anchor-link {
    color: black !important;
    animation: none !important;
}

/* Content */
.content {
    line-height: 1.75em;
}

.content p,
.content h3 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/* Window size dependent */
@media (min-width: 520px) {
    .nav {
        position: fixed;
        overflow: auto;
        height: 80%;
        width: 27%;
        border-right: 1px solid black;
    }

    .nav ul {
        list-style-type: none;
        padding-right: 5%;
        text-align: right;
    }

    .nav li {
        padding: 1%;
    }

    .nav h2 {
        text-align: right;
        padding-right: 5%;
    }

    .nav hr {
        width: 25%;
        margin-left: 75%;
    }

    .content {
        width: 58%;
        max-width: 900px;
        margin-left: 28%;
        margin-top: 5%;
    }
}

@media (max-width: 520px) {
    .nav {
        width: 90%;
    }

    .nav ul {
        list-style-type: none;
        text-align: center;
    }

    .nav h2 {
        text-align: left;
        padding-left: 2.5%;
    }

    .nav hr {
        width: 80%;
    }

    .content {
        width: 95%;
        margin-left: 2.5%;
    }
}
